    margin-top: 20px;
}

.btn-download {
    background-color: var(--terracotta);
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
}

.btn-download:hover {
    background-color: #b36b4d; /* Un terracotta leggermente più scuro */
    transform: scale(1.05);
}

.btn-download span {
    margin-left: 8px;
}
